
:root {
    --teal500:  hsl(179, 62%, 43%);
    --green400: hsl(71, 73%, 54%);

    --teal100: hsl(204, 43%, 93%);
    --gray500: hsl(217, 100%, 89%);


    --karla: "Karla", sans-serif;

}

body {
    background-color: var(--teal100);
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 1rem;
}

#card-box {
    border-radius: 12px;
    overflow: hidden;
    background-color: white;
}

.top-half-box {
    display: block;
    background-color: white;
    padding: 2rem 2.5rem;
}

.bottom-half-box {
    display: flex;
}

.bottom-half-left-box {
    background-color: var(--teal500);
    width: 50%;
}

.bottom-half-right-box {
    background-color: var(--teal500);
    opacity: 78%;
    width: 50%;
}








/* 
### Body Copy

- Font size: 16px

### Font

- Family: [Karla]
- Weights: 400, 700
*/ 
a